.container {
  background: #121212;
  padding: 2rem;
  flex-direction: column;
  justify-content: start;
  color: #f1f1f1;
}

h3 {
  margin: 1rem;
}

.cup {
  background: #f1f1f1;
  height: 400px;
  width: 200px;
  border-radius: 0px 0px 3rem 3rem;
  box-sizing: border-box;
  border: 5px solid blue;
  margin-bottom: 1rem;
  color: #121212;
  display: flex;
  flex-direction: column;
  justify-content: end;
  overflow: hidden;
}

/* span,
small {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-weight: 600;
  background: lightcoral;
} */

.cup.cupSmall {
  height: 120px;
  width: 60px;
  margin: 0.5rem;
  color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 0px 0px 1rem 1rem;
}

.text {
  margin: 2rem 1rem;
}

.remaining span {
  display: flex;
  font-size: 20px;
  font-weight: bold;
}

.remaining small {
  font-size: 12px;
}

.cups {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.water {
  background: lightblue;
}

.cup.cupSmall.full {
  background: lightblue;
}

.percentage {
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
  height: 0;
  transition: 0.3s ease;
  width: 100%;
  position: relative;
}

.remained {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  transition: 0.3s ease;
}
