.wrapperSearch {
  max-height: 40vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.wrapperInput {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapperInput input {
  background: whitesmoke;
  width: 100%;
  border: none;
  height: 3rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 0.2rem 0px 0px 0.2rem;
  font-weight: 700;
}

.wrapperInput input:focus {
  outline: none;
}

.wrapperInput i {
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 0px 0.2rem 0.2rem 0px;
}

.searchResult {
  background: whitesmoke;
  padding: 0.5rem;
  width: 100%;
  border-radius: 0px 0px 0.2rem 0.2rem;
  overflow-y: auto;
  opacity: 0;
  height: 300px;
}

.active {
  opacity: 1;
}

#search.active {
  border-radius: 0.2rem 0px 0px 0px;
  opacity: 1;
}

i.active {
  border-radius: 0px 0.2rem 0px 0px;
}

.movieList {
  padding: 0.4rem 0px;
  border-bottom: 1px solid black;
}

/* Scrollbar */
.searchResult {
  scrollbar-width: auto;
  scrollbar-color: #110c0b #e5f1ec;
}

.searchResult::-webkit-scrollbar {
  width: 16px;
}

.searchResult::-webkit-scrollbar-track {
  background: #e5f1ec;
  border-radius: 10px;
}

.searchResult::-webkit-scrollbar-thumb {
  background-color: #110c0b;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
