.kineticLoader {
  position: relative;
  height: 110px;
  width: 110px;
}

.kineticLoader::after,
.kineticLoader::before {
  content: "";
  position: absolute;
  border: 50px solid transparent;
  border-bottom-color: white;
  animation: rotateA 2s linear infinite 0.5s;
}

.kineticLoader::before {
  transform: rotate(90deg);
  animation: rotateB 2s linear infinite;
}

@keyframes rotateA {
  0%,
  25% {
    transform: rotate(0deg);
  }

  50%,
  75% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateB {
  0%,
  25% {
    transform: rotate(90deg);
  }

  50%,
  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(450deg);
  }
}
