button {
  padding: 1rem;
  background: white;
  cursor: pointer;
  border: none;
  border-radius: 0.2rem;
  font-weight: 600;
  font-size: 1.2rem;
  position: absolute;
}

button:active {
  scale: calc(0.95);
}

.toast {
  padding: 1rem;
  background: white;
  border: none;
  border-radius: 0.2rem;
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.toast.info {
  color: grey;
}

.toast.success {
  color: blue;
}

.toast.error {
  color: red;
}

.toasts {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
