.container {
  background: #121212;
  padding: 2rem;
  display: flex;
}

.wrapper {
  height: 800px;
  max-height: 100%;
  width: 800px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
}

.choicesTitle {
  margin-top: 1rem;
  padding: 0px 0.5rem;
  font-weight: 300;
  color: #f7f6f8;
}

#textarea {
  width: 500px;
  max-width: 90%;
  height: 200px;
  margin: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  border-radius: 0.4rem;
}

.buttons {
  padding: 0.5rem;
}

#btnChoicePicker,
#btnChoicePickerClear {
  padding: 1rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0rem 0.5rem;
}

#btnChoicePicker:hover,
#btnChoicePickerClear:hover {
  border: 1px solid #739c69;
  transition: all 1s ease;
  box-shadow: inset 8rem 8rem 8rem 8rem #739c69;
  cursor: pointer;
}

#btnChoicePicker:disabled,
#btnChoicePickerClear:disabled {
  cursor: not-allowed;
  box-shadow: none;
}

.tagsField {
  color: #f7f6f8;
  margin: 1rem;
  width: 500px;
  max-width: 90%;
  height: 400px;
  max-height: 100%;
  padding: 0.8rem;
  overflow: auto;
  box-sizing: border-box;
}

.span {
  background: lightblue;
  padding: 0.5rem;
  width: fit-content;
  height: fit-content;
  margin: 0.2rem 0.5rem;
  border-radius: 0.4rem;
  color: black;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
}

.highlight {
  background: #739c69;
  color: white;
}

.highlight::before {
  content: "";
  position: absolute;
  background: #32442e;
  width: 25px;
  height: 2px;
  margin-top: 1.2rem;
  margin-left: -5px;
}
