.imgPageOne,
.imgPageTwo {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

.pageOne,
.pageTwo {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  transition: all 1s ease;
  overflow: hidden;
}

.pageOne::before {
  content: "";
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
}

.pageTwo::before {
  content: "";
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
}

.transition {
  z-index: 2;
  width: 200%;
  transition: all 1s ease-in-out;
}

.pageTwoTitle {
  position: absolute;
  margin-bottom: 20rem;
  font-size: 3rem;
  font-weight: 800;
  color: white;
  white-space: nowrap;
}

.pageOneTitle {
  position: absolute;
  margin-bottom: 20rem;
  font-size: 3rem;
  font-weight: 800;
  color: black;
  white-space: nowrap;
}

.buttonPageOne,
.buttonPageTwo {
  position: absolute;
  padding: 1rem;
  border: 2px solid white;
  border-radius: 0.2rem;
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  white-space: nowrap;
  cursor: pointer;
}

.buttonPageOne {
  border: 2px solid black;
  color: black;
}

.buttonPageTwo:hover {
  background: rgb(255, 255, 255);
  color: black;
}

.buttonPageOne:hover {
  background: rgba(0, 0, 0);
  color: white;
  border: 2px solid black;
}
