.container {
  background: #121212;
  padding: 2rem;
}

.wrapperJokes {
  height: 500px;
  max-height: 100%;
  width: 800px;
  max-width: 100%;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #f7f6f8;
  padding: 1rem;
}

.titleJokes {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 300;
}

.titleJokes::before {
  content: "";
  width: 200px;
  height: 2px;
  position: absolute;
  background: #587750;
  margin-top: 1.8rem;
  align-self: center;
  margin-left: 12px;
}

.joke {
  max-width: 550px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1;
  font-size: 2rem;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: justify;
  font-weight: 600;
  overflow-y: auto;
}

.btnAnotherJoke {
  margin-bottom: 1rem;
  width: 200px;
  height: auto;
  justify-self: baseline;
  padding: 0.8rem;
  border: none;
  box-sizing: border-box;
  border-radius: 0.7rem;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  background: #739c69;
  box-shadow: rgba(115, 156, 105, 0.808) 0px 5px 12px,
    rgba(115, 156, 105, 0.678) 0px 5px 28px;
}

.btnAnotherJoke:hover {
  box-shadow: rgba(115, 156, 105, 0.808) 0px 5px 15px,
    rgba(115, 156, 105, 0.678) 0px 7px 6px;
}

.btnAnotherJoke:active {
  transform: scale(0.9);
}

.btnAnotherJoke:focus {
  outline: none;
}
