.container {
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.progress-container {
  display: flex;
  width: 60vw;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.progress {
  width: 0;
  height: 0.4vh;
  background: #739c69;
  border-radius: 0.4rem;
  position: absolute;
  transition: 500ms ease;
}

.progress::before {
  content: "";
  width: 60vw;
  height: 0.4vh;
  background: #d9d3da;
  border-radius: 0.4rem;
  position: absolute;
  z-index: -1;
}

.circle {
  border: 0.2rem solid #d9d3da;
  padding: 1rem;
  border-radius: 100%;
  z-index: 100;
  background: #f7f6f8;
  font-weight: 600;
  transition: 600ms ease;
}

.active {
  border-color: #739c69;
  background: white;
  transition: 600ms ease;
}

.buttonWrapper {
  display: flex;
  width: 60vw;
  align-items: center;
  justify-content: center;
}

.button {
  margin: 0px 0.5rem;
  cursor: pointer;
  border-radius: 0.2rem;
  border: 1px solid #d9d3da;
  transition: all 1s ease;
  padding: 0.8rem 1.2rem;
  box-sizing: border-box;
  min-width: 8rem;
  font-weight: 600;
}

.button:disabled {
  cursor: not-allowed;
}

#anterior::before {
  content: "←";
  line-height: 1;
  opacity: 0;
  position: relative;
  left: -30px;
  transition: 0.5s;
}

#anterior:hover {
  padding-left: 32px;
  padding-right: 12px;
  border: 1px solid #739c69;
  box-shadow: inset 0 0 0 8rem #739c69;
}

#anterior:hover:before {
  opacity: 1;
  left: -10px;
}

#proximo::after {
  content: "→";
  line-height: 1;
  opacity: 0;
  position: relative;
  right: -30px;
  transition: 0.5s;
}

#proximo:hover {
  padding-left: 12px;
  padding-right: 32px;
  border: 1px solid #739c69;
  box-shadow: inset 0 0 0 8rem #739c69;
}

#proximo:hover:after {
  opacity: 1;
  right: -10px;
}
