body {
  overflow-x: hidden;
  background: #d9d3da;
}

.circle-container {
  top: -100px;
  left: -100px;
  position: fixed;
}

.circle {
  background: #f7f6f8;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: transform 0.5s linear;
}

.circle button {
  margin: 1rem 0px 0px 1rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #d9d3da;
  color: #0f0f0f;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.circle button:hover {
  transition: all 200ms ease-in;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 9px 15px, rgba(0, 0, 0, 0.35) 0px 7px 6px;
}

.circle button#open {
  left: 50%;
  width: 2.5rem;
  height: 3rem;
}

.circle button#close {
  width: 2.5rem;
  height: 3rem;
  top: 50%;
  left: 30%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container-rotanting {
  width: 100vw;
  min-height: 100vh;
  padding: 2rem;
  background: #12100f;
  transform-origin: top left;
  transition: transform 500ms linear;
  padding-top: 8rem;
  text-align: justify;
  color: #f7f6f8;
}

h2 {
  margin-bottom: 1rem;
}
.container-rotanting P {
  padding: 0.5rem;
}

img {
  width: 100%;
  margin: 0.5rem;
  border-radius: 1rem;
}

nav {
  position: fixed;
  z-index: 100;
  bottom: 25vh;
  left: 0px;
}

nav ul {
  padding-left: 1rem;
}

nav ul li {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 1rem 0px 0px 0px;
  transform: translateX(-100%);
  transition: transform 500ms ease-in;
  cursor: pointer;
  color: #0f0f0f;
}

nav ul li::before {
  content: "";
  height: 2px;
  width: 40px;
  border-radius: 20px;
  background: #739c69;
  position: absolute;
  top: 100%;
  left: -10%;
}

nav ul li:nth-child(1) {
  margin-left: 2rem;
  transform: translateX(-150%);
}

nav ul li:nth-child(2) {
  margin-left: 3rem;
  transform: translateX(-200%);
}

nav ul li:nth-child(3) {
  margin-left: 4rem;
  transform: translateX(-250%);
}

/* Rotating CSS */

.container-rotanting.rotate {
  transform: rotate(-20deg);
}

.container-rotanting.rotate .circle {
  transform: rotate(-70deg);
}

.container-rotanting.rotate + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}
