* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.card {
  height: 80vh;
  flex: 0.5;
  margin: 0.5rem;
  position: relative;
  display: inline-block;
}

img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 100%;
  width: 100%;
  border-radius: 50px;
}

.active {
  flex: 5;
}
