.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.card {
  height: 80vh;
  flex: 0.5;
  margin: 0.5rem;
  position: relative;
  display: inline-block;
  transition: all 600ms ease-in;
  border-radius: 10px;
}

img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.cardTitle {
  color: black;
  position: absolute;
  left: 10px;
  bottom: 10px;
  opacity: 0;
}

.cardTitle::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 21px;
  width: 1rem;
  border: 1px solid sienna;
  transition: opacity 0.5s ease-in 0.5s;
}

.card:hover {
  transition: 500ms ease-in;
  border: 2px solid lightseagreen;
  opacity: 0.7;
}

.active {
  flex: 5;
}

.active .cardTitle {
  transition: opacity 0.5s ease-in 0.5s;
  opacity: 1;
}
