.wrapperSlider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide {
  height: 60vh;
  width: 800px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  object-fit: contain;
  display: none;
}

.active {
  display: flex;
}

.wrapperButtons {
  width: 50%;
  width: 600px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 3rem;
}

.btnLeft i {
  margin-right: -10px;
  position: absolute;
}

.btnRigth {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 3rem;
}

.btnRigth i {
  margin-left: -10px;
  position: absolute;
}

.btnLeft:hover,
.btnRigth:hover {
  transition: all 1s ease;
  scale: calc(1.2);
}
