.container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: contain;
}

.wrapperSlider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide {
  height: 60vh;
  width: 80vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  object-fit: contain;
  display: none;
  opacity: calc(0.5);
}

.active {
  display: flex;
}

.wrapperButtons {
  width: 100%;
  max-width: 600px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#btnLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 3rem;
}

#btnLeft i {
  margin-right: -10px;
  position: absolute;
}

#btnRigth {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 3rem;
}

#btnRigth i {
  margin-left: -10px;
  position: absolute;
}

#btnLeft:hover,
#btnRigth:hover {
  transition: all 1s ease;
  scale: calc(1.2);
}
